input {
  border-radius: 10px;
  border: 1px solid;
  outline: none;
  padding: 1rem;
  display: block;
  margin: auto;
}

.container {
  padding: 3rem;
}

.w-50 {
  width: 50%;
}

.todo-list {
  padding-top: 1rem;
}
